<nav class="navbar navbar-expand-sm navbar-light bg-light">

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
   
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link"  >Polls <span class="sr-only">(current)</span></a>
               </li>
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'pdfs01:polls_list' %}" >Vote <span class="sr-only">(current)</span></a>
               </li>
                <li class="nav-item active">
                 <a class="navbar-brand"  >One<i class="fas fa-person-booth">Two</i></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link"  >Polls <span class="sr-only">(current)</span></a>
               </li>
                <li class="nav-item active">
                <a class="nav-link"  >Choices <span class="sr-only">(current)</span></a>
               </li>
                <li class="nav-item active">
                <a class="nav-link"  >Users <span class="sr-only">(current)</span></a>
               </li>
                <li class="nav-item active">
                <a class="nav-link"  >Close <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                <a class="nav-link"  >Users <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item active">
                <a class="nav-link"  >Close <span class="sr-only">(current)</span></a>
               </li>
  </ul>
</div>


<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Admin
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
   
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link"  >Users <span class="sr-only">(current)</span></a>
               </li>
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'pdfs01:polls_list' %}" >Vote <span class="sr-only">(current)</span></a>
               </li>
                <li class="nav-item active">
                 <a class="navbar-brand"  >Passwords<i class="fas fa-person-booth">Two</i></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link"  >Data Admins<span class="sr-only">(current)</span></a>
               </li>
                <
  </ul>
</div>

</nav>
