{% extends 'apps03/base.html' %}
request.user.get_full_name() if request.user.is_authenticated() else ""
{% block content %}
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            <h2>View Rental Unit</h2>
            
            
            
            # listings/templates/apps03/view_rentalunits.html

...
       ...
            
            
              {% for Ru in rental_units %}
                 <THEAD>
                <tr>
                    <td style="width:15%" >{{Ru.roomno}}    </td>
                 </tr>
                 <tr>
                    <td style="width:45%"   >{{Ru.roomdesc}}</td> </tr>
                  <tr> <td  style="width:20%">{{Ru.roomtype }}</td> </tr>
                  <tr>
                  <td style="width:20%">{{Ru.rate }} </td>
                  </tr>
                  <tr>
                  <td <a href="{% url 'band-update' band.id %}">[edit]</a>  </td>
                  </tr>
                {% endfor %}
  
            
            
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
 
            <form action="/apps03/rentalunitpr/"   method="post" novalidate>
            {% csrf_token %}
             <table border="1">
             {{ form }}
             </table>
            <button type="submit">Submit</button>
              </form>
        
        </div>
    </div>
</div>
{% endblock %}
